* {
	margin: 0;
	padding: 0;
}

body {
    margin: 0;
	border: 0;
    padding: 0;
	background-color: white;
	max-width: 1170px;
	margin: 0 auto;
}

#mainbody {
	background-color: white;
	padding: 8px;
}

header {
	background-color: white;
    z-index: 1;
    min-height: 100%;
	text-shadow: 4px 4px 4px #aaa;
}

#logo {
	height: 40px;
	width: 30px;
	float: left;
	padding-left: 10px;
}

.sharebar ul {
	float: right;
	font-size:20px;
	max-height: 100%;
	object-fit: fill;
	padding-top: 15px;
	list-style-type: none;
}

header img {
	margin: 0;
	border: 0;
	padding: 0;
	width: 25px;
	height: auto;
	border-top: 5px;
}

img {
	margin: 0;
	border: 0;
	padding: 0;
	width: 100%;
	height: auto;
}

header ul li {
	display: inline;
	font-size: 15px;
}

h1 {
	font-family: 'Tangerine', serif;
	font-size: 50px;
	color: white;
	background-image: url('images/pyramid.jpg');
	text-align: center;
	clear: both;
	margin: 0;
	border: 0;
	padding: 0;
}

p {
	font-family: 'Sanchez', serif;
	font-size: 50px;
	font-weight: bold;
}

#jumpto {
	list-style-type: none;
	clear: both;
	min-height: 100px;
	background-image: url('images/pinkflowers.jpg'); 
	background-attachment: fixed;
	color: white;
}

#jumpto ul {
	border-width: 4px;
	padding: 30px;
	color: white; 
	max-height: 40px;
	text-align: center;
}
 
#jumpto li {
	display: inline;
	border-style: solid;
	text-align: center;
	font-size: 30px;
	border-width: 4px;
	color: white; 
	font-weight: bold;
	padding: 5px;
	margin: 0 10px 0 0;
}

#jumpto li a {
	text-decoration: none;
	color: inherit;
}

#jumpto li:hover {
	color: black;
}

#jumpto a:visited {
	color: inherit;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	float: right;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.reasons {
	color:pink;
	font-family: "Times New Roman", Times, serif;
	font-size: 35px;
	text-shadow: 0px 0px 0px 0px;
	font-weight: bold;
}

span {
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

.floatright {
	height: auto;
	width: 45%;
	float: right;
}

.floatleft {
	height: auto;
	width: 45%;
	float: left;
}

.cleared {
	clear: both;
}

.satenflex {
	display: flex;
	flex-flow: row wrap;
}

.saten {
	width: 250px;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 5px;
	margin: 5px;
	flex: 1;
}

.satinfo p{
	font-size: 15px;
	text-align: center;
}

#flexproducts {
	display: flex;
	flex-flow: row wrap;
}

desc {
	margin: 10px;
}

#products img {
	max-width: 500px;
	clear: all;
	padding-left: 50%;
	padding-right: 50%;
}

.boxprod {
	background: linear-gradient(#cc00cc, white);
	flex: 1;
}

.boxprod img {
	max-width: 500px;
	padding: 20px;
	display: inline;
}

#footerbanner {
	background-color: pink;
}

@media screen and (max-width: 995px) {
    
	#jumpto {
		list-style-type: none;
		clear: both;
		background-image: url('images/pinkflowers.jpg'); 
		background-attachment: fixed;
		color: white;
		min-height: 80px;
	}

	#jumpto ul {
		border-width: 4px;
		padding: 20px;
		color: white; 
		text-align: center;
	}
	
	#jumpto li {
        display: inline;
		border-style: solid;
		text-align: center;
		font-size: 25px;
		border-width: 4px;
		color: white; 
		font-weight: bold;
		padding: 5px;
		margin: 0 0 0 0;
    }
}

@media screen and (max-width: 480px) {
	#jumpto {
		display: hidden;
	}
	
	
	
	
	
}